<%- include("partials/header") %>

<style>

  cart-form{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  
</style>

  <div class="cart-form">
    <form action="/bill" method="post">
      <div class="form-group">
          <input type="text" class="form-control" id="company" name="company" aria-describedby=""
            placeholder="Enter customer name">
      
      

      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="address" name="address" placeholder="address">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="city" name="city" placeholder="city">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="country" name="country" placeholder="country">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="house no" name="houseno" placeholder="house no">
      </div>

      <button class="btn btn-success btn-block" type="submit">
        Bill
      </button>
    </form>
  </div>

  <div class="container">
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:8%">Quantity</th>
          <th style="width:22%" class="text-center">Subtotal</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <% itemsArr.forEach(function(item){ %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img src="" alt="..." class="img-responsive" /></div>
                <div class="col-sm-10">
                  <h4 class="nomargin">
                    <%=item.name %>
                  </h4>

                </div>
              </div>
            </td>
            <td data-th="Price">
              <%=item.price %>

            </td>
            <td data-th="Quantity">
              <%=item.total_quantity %>
            </td>
            <td data-th="Subtotal" class="text-center">
              <%=item.subtotal %>
            </td>

            <% }) %>
      </tbody>
      <tfoot>

        <tr>
          <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"><strong>TOTAL</strong></td>
          <td class="hidden-xs text-center">
            <strong>
              <%= TOTAL %>
            </strong>
          </td>

          </td>
          <td>
            <form action="/checkout" method="post">
              <button class="btn btn-success btn-block" type="submit">
                Checkout <i class="fa-solid fa-angle-right"></i>
              </button>
            </form>
          </td>
        </tr>
      </tfoot>
    </table>


  </div>
  <%- include("partials/footer") %>